<div class="spell-description">
  <p>
    {{#if psionicPower}}
      <strong>{{localize "D3Vilia.PsionicDiscipline"}}:</strong>&nbsp;{{label.school}}{{#if label.subschool}}&nbsp;({{label.subschool}}){{/if}}{{#if label.types}}&nbsp;[{{label.types}}]{{/if}};
    {{else}}
      <strong>{{localize "D3Vilia.SpellSchoolDesc"}}:</strong>&nbsp;{{label.school}}{{#if label.subschool}}&nbsp;({{label.subschool}}){{/if}}{{#if label.types}}&nbsp;[{{label.types}}]{{/if}};
    {{/if}}
    <br>
    {{#if learnedAt.class}}<strong>{{localize "D3Vilia.Level"}}:</strong>&nbsp;{{learnedAt.class}};{{/if}}
    {{#if learnedAt.domain}}<strong>{{localize "D3Vilia.Domain"}}:</strong>&nbsp;{{learnedAt.domain}};{{/if}}
    {{#if learnedAt.subDomain}}<strong>{{localize "D3Vilia.SubDomain"}}:</strong>&nbsp;{{learnedAt.subDomain}};{{/if}}
    {{#if learnedAt.elementalSchool}}<strong>{{localize "D3Vilia.ElementalSchool"}}:</strong>&nbsp;{{learnedAt.elementalSchool}};{{/if}}
    {{#if learnedAt.bloodline}}<strong>{{localize "D3Vilia.Bloodline"}}:</strong>&nbsp;{{learnedAt.bloodline}};{{/if}}
    <br>
    {{#if label.components}}<strong>{{localize "D3Vilia.ComponentPl"}}:</strong>&nbsp;{{label.components}}<br>{{/if}}
    {{#if label.display}}<strong>{{localize "D3Vilia.PowerDisplay"}}:</strong>&nbsp;{{label.display}}<br>{{/if}}
    {{#if psionicPower}}
      {{#if label.castingTime}}<strong>{{localize "D3Vilia.ManifestingTime"}}:</strong>&nbsp;{{label.castingTime}}<br>{{/if}}
    {{else}}
      {{#if label.castingTime}}<strong>{{localize "D3Vilia.CastingTime"}}:</strong>&nbsp;{{label.castingTime}}<br>{{/if}}
    {{/if}}
    {{#if label.range}}<strong>{{localize "D3Vilia.Range"}}:</strong>&nbsp;{{label.range}}<br>{{/if}}
    {{#if label.area}}<strong>{{localize "D3Vilia.Area"}}:</strong>&nbsp;{{label.area}}<br>{{/if}}
    {{#if label.targets}}<strong>{{localize "D3Vilia.Target"}}:</strong>&nbsp;{{label.targets}}<br>{{/if}}
    {{#if label.effect}}<strong>{{localize "D3Vilia.Effect"}}:</strong>&nbsp;{{label.effect}}<br>{{/if}}
    {{#if label.duration}}<strong>{{localize "D3Vilia.Duration"}}:</strong>&nbsp;{{label.duration}}<br>{{/if}}
    {{#if label.powerPointsCost}}<strong>{{localize "D3Vilia.PowerPointsCost"}}:</strong>&nbsp;{{label.powerPointsCost}}<br>{{/if}}
    {{#if psionicPower}}
      {{#if useDCandSR}}
        <strong>{{localize "D3Vilia.SavingThrow"}}:</strong>&nbsp;{{label.savingThrow}}
        <br>
        <strong>{{localize "D3Vilia.PowerResistance"}}:</strong>&nbsp;{{label.pr}}<br>
      {{/if}}
    {{else}}
      {{#if useDCandSR}}
        <strong>{{localize "D3Vilia.SavingThrow"}}:</strong>&nbsp;{{label.savingThrow}}
        <br>
        <strong>{{localize "D3Vilia.SpellResistance"}}:</strong>&nbsp;{{label.sr}}<br>
      {{/if}}
    {{/if}}
  </p>
  {{#if data.shortDescription}}
  <h2>{{localize "D3Vilia.Description"}}</h2>
  {{{data.shortDescription}}}
  {{/if}}
</div>
