<form autocomplete="off" onsubmit="event.preventDefault();">


    <div class="flexcol">

        <div class="flexrow formulas form-group">
            <label><span>{{localize "D3Vilia.SpellbookName"}}</span></label>
            <input type="text" name="name"
                   value="{{spellbook.name}}" placeholder="{{localize " D3Vilia.SpellbookName"}}" />
        </div>
        <div class="form-group spellcasting-class tooltip flexrow">
            <label><span>{{localize "D3Vilia.SpellcastingClass"}}</span></label>
            <select name="class" data-dtype="String">
                {{#select spellbook.class}}
                <option value="">{{localize "D3Vilia.None"}}</option>
                <option value="_hd">{{localize "D3Vilia.HitDie"}}</option>
                {{#each actor.data.classes as |cls a|}}
                <option value="{{a}}">{{cls.name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="flexrow form-group-stacked">
            <label class="checkbox">
                <input type="checkbox" name="autoSetup"
                       {{checked spellbook.autoSetup}}/> {{localize "D3Vilia.SpellbookAutoSetup"}}
            </label>
        </div>
        {{#unless spellbook.autoSetup}}
        <div class="form-group">
            <label>{{localize "D3Vilia.SpellcastingType"}}</label>
            <select name="spellcastingType">
                {{#select spellbook.spellcastingType}}
                {{#each config.spellcastingType as |name type|}}
                <option value="{{type}}">{{name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="form-group spellcasting-ability flexrow">
            <label><span>{{localize "D3Vilia.SpellcastingAbility"}}</span></label>
            <select name="ability" data-dtype="String">
                {{#select spellbook.ability}}
                <option value="">{{localize "D3Vilia.None"}}</option>
                {{#each config.abilities as |abl a|}}
                <option value="{{a}}">{{abl}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
            <div class="flexrow formulas form-group">
            <label><span>{{localize "D3Vilia.BaseDCFormula"}}</span></label>
            <input type="text" name="baseDCFormula"
                   value="{{spellbook.baseDCFormula}}" placeholder="{{localize " D3Vilia.BaseDCFormula"}}" />
        </div>
        <div class="flexrow form-group-stacked">
            <label class="checkbox">
                <input type="checkbox" name="autoSpellLevels"
                       {{checked spellbook.autoSpellLevels}}/> {{localize "D3Vilia.AutomaticSpellSlots"}}
            </label>
            <label class="checkbox">
                <input type="checkbox" name="spontaneous"
                       {{checked spellbook.spontaneous}}/> {{localize "D3Vilia.SpellPrepSpontaneous"}}
            </label>
            <label class="checkbox">
                <input type="checkbox"
                       name="arcaneSpellFailure"
                       {{checked spellbook.arcaneSpellFailure}}/> {{localize "D3Vilia.ArcaneSpellFailure"}}
            </label>

            <label class="checkbox">
                <input type="checkbox" name="usePowerPoints"
                       {{checked spellbook.usePowerPoints}}/> {{localize "D3Vilia.UsePowerPoints"}}
            </label>


            <label class="checkbox">
                <input type="checkbox" name="hasSpecialSlot"
                       {{checked spellbook.hasSpecialSlot}}/> {{localize "D3Vilia.HasSpecialSpellSlot"}}
            </label>
        </div>
        {{else}}
        <h4 style="text-align: center; opacity: 0.7">Options set from Class</h4>
        <div class="form-group">
            <label>{{localize "D3Vilia.SpellcastingType"}}</label>
            <select name="spellcastingType" disabled>
                {{#select spellbook.spellcastingType}}
                {{#each config.spellcastingType as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="form-group spellcasting-ability flexrow">
            <label><span>{{localize "D3Vilia.SpellcastingAbility"}}</span></label>
            <select name="ability" data-dtype="String" disabled>
                {{#select spellbook.ability}}
                <option value="">{{localize "D3Vilia.None"}}</option>
                {{#each config.abilities as |abl a|}}
                <option value="{{a}}">{{abl}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="flexrow formulas form-group">
            <label><span>{{localize "D3Vilia.BaseDCFormula"}}</span></label>
            <input type="text" name="baseDCFormula" disabled
                   value="{{spellbook.baseDCFormula}}" placeholder="{{localize " D3Vilia.BaseDCFormula"}}" />
        </div>
        <div class="flexrow form-group-stacked">
            <label class="checkbox">
                <input type="checkbox" name="autoSpellLevels" disabled
                       {{checked spellbook.autoSpellLevels}}/> {{localize "D3Vilia.AutomaticSpellSlots"}}
            </label>
            <label class="checkbox">
                <input type="checkbox" name="spontaneous" disabled
                       {{checked spellbook.spontaneous}}/> {{localize "D3Vilia.SpellPrepSpontaneous"}}
            </label>
            <label class="checkbox">
                <input type="checkbox"
                       name="arcaneSpellFailure" disabled
                       {{checked spellbook.arcaneSpellFailure}}/> {{localize "D3Vilia.ArcaneSpellFailure"}}
            </label>

            <label class="checkbox">
                <input type="checkbox" name="usePowerPoints" disabled
                       {{checked spellbook.usePowerPoints}}/> {{localize "D3Vilia.UsePowerPoints"}}
            </label>

            <label class="checkbox">
                <input type="checkbox" name="hasSpecialSlot" disabled
                       {{checked spellbook.hasSpecialSlot}}/> {{localize "D3Vilia.HasSpecialSpellSlot"}}
            </label>

        </div>
        {{/unless}}
    </div>

    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> {{localize "D3Vilia.UpdateSpellbook"}}</button>
</form>