{{!-- Skill Rank Info --}}
{{#unless data.details.levelUpProgression}}
  {{#unless useBGSkills}}
  <div class="flexcol skill-rank">
    <ol class="form-group">
      <li class="flexrow skill-rank-formula">
        <label>{{ localize 'D3Vilia.SkillBonusRankFormula' }}</label>
        <input type="text" name="data.details.bonusSkillRankFormula" value="{{data.details.bonusSkillRankFormula}}" placeholder="{{ localize 'D3Vilia.Formula' }}"/>
      </li>
    </ol>
    <ol class="form-group">
      <li class="flexrow skill-rank-info">
        <label>{{ localize 'D3Vilia.SkillRankPlural' }}</label>
        <input type="text" disabled value="{{skillRanks.allowed}}"/>
        <label>{{ localize 'D3Vilia.Used' }}</label>
        <input type="text" disabled value="{{skillRanks.used}}"/>
      </li>
    </ol>
  </div>
  {{else}}
  <div class="flexcol skill-rank">
    <ol class="form-group">
      <li class="flexrow skill-rank-formula">
        <label>{{ localize 'D3Vilia.SkillBonusRankFormula' }}</label>
        <input type="text" name="data.details.bonusSkillRankFormula" value="{{data.details.bonusSkillRankFormula}}" placeholder="{{ localize 'D3Vilia.Formula' }}"/>
      </li>
    </ol>
    <ol class="form-group">
      <li class="flexrow skill-rank-info">
        <label>{{ localize 'D3Vilia.SkillRankPlural' }}</label>
        <input type="text" disabled value="{{skillRanks.allowed}}"/>
        <label>{{ localize 'D3Vilia.Used' }}</label>
        <input type="text" disabled value="{{skillRanks.used}}"/>
        <label>{{ localize 'D3Vilia.AdventureRanksToBG' }}</label>
        <input type="text" disabled value="{{skillRanks.sentToBG}}"/>
        <label>{{ localize 'D3Vilia.BGSkillRanks' }}</label>
        <input type="text" disabled value="{{skillRanks.bgAllowed}}"/>
        <label>{{ localize 'D3Vilia.BGUsed' }}</label>
        <input type="text" disabled value="{{skillRanks.bgUsed}}"/>
      </li>
    </ol>
  </div>

  <nav class="sheet-navigation tabs" data-group="skillset">
    <a class="item" data-tab="adventure">{{ localize 'D3Vilia.SkillTypeAdventure' }}</a>
    <a class="item" data-tab="background">{{ localize 'D3Vilia.SkillTypeBackground' }}</a>
  </nav>

  <section class="skillset-body">
    <div class="tab flexcol" data-group="skillset" data-tab="adventure">
      {{> "systems/D3Vilia/templates/actors/parts/actor-skills.html" skillset=skillsets.adventure.skills isBackgroundSkills="false"}}
    </div>

    <div class="tab flexcol" data-group="skillset" data-tab="background">
      {{> "systems/D3Vilia/templates/actors/parts/actor-skills.html" skillset=skillsets.background.skills isBackgroundSkills="true"}}
    </div>
  </section>
  {{/unless}}
{{/unless}}

{{#unless useBGSkills}}
<nav class="sheet-navigation tabs" data-group="skillset" style="display: none">
  <a class="item" data-tab="all">{{ localize 'D3Vilia.AllSkills' }}</a>
</nav>

<section class="skillset-body">
  <div class="tab flexcol" data-group="skillset" data-tab="all">
    {{> "systems/D3Vilia/templates/actors/parts/actor-skills.html" skillset=skillsets.all.skills isBackgroundSkills="false"}}
  </div>
</section>
{{/unless}}
